!!! 5
%html(class="no-js" lang="en")
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag "all"
    %title= data.page.title

  %body{ :class => page_classes }
    #container
      %header
        %h1= data.page.title

      #main{ :role => 'main' }
        = yield

      %footer
        = partial :footer
    / ! end of #container
    = javascript_include_tag "all"