!!! 5
%html(class="no-js" lang="en")
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    %title= data.site.title

  %body{ :class => page_classes }
    - unless target? :chrome
      / github banner
      %div.ribbon
        %a(href="https://github.com/jtwalters/jpgen") Fork me on GitHub
    #container
      %header
        %h1= data.site.title + ' v' + data.site.version
        %nav
          %ul
            - data.site.nav.each do |link|
              %li
                = link_to link['title'], link['href'], class: (current_path == link['href'] ? 'active' : nil)
      #main{:role => 'main'}
        = yield

      %footer
        = partial :footer
    / ! end of #container
