!!! 5
%html(class="no-js" lang="en")
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag "all"
    %title= data.site.title

  %body{ :class => page_classes }
    #container
      %header
        %h1= data.site.title + ' v' + data.site.version
        %nav
          %ul
            - data.site.panes.each do |p|
              %li
                %a{href: '#' + p}= p
      #main{:role => 'main'}
        = yield

      %footer
        = partial :footer
    / ! end of #container